black
blessed
more-itertools
numpy
pylint
pytest
pytest-cov
pytest-html
pyyaml
rich
scikit-learn
seaborn
soundfile
torch==1.9.0
torchaudio==0.9.0
torchinfo
torchtext
torchtyping
torchvision==0.10.0
tqdm
uniplot
wandb
wget
